@mixin font($font_name, $file_name, $weight, $style) {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") forma("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
}

@import 'reset';
@import 'fonts';
@import 'base/animations';
@import 'base/media';
@import 'base/mixins';
@import 'base/variables';

.wrapp {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-gap: 10px;
    grid-template-areas: "header headerScroll";
}

body {
    color: #632323;
}

.main {
    padding: 250px 168px 0 152px;
    height: 100%;
}

@import 'blocks/header';
@import 'blocks/headerScroll';

